@{
    ViewData["Title"] = "Contacts";
}
<div class="container">
    <div>
        <h1 style="color:white; text-align:center; margin-top:10px;">
            Our Team
        </h1>

        <div class="row" style="margin-top:50px; color:white">
            <div class="col-md-4 bg-dark">
                <div class="card" style="width: 18rem;">
                    <img src="~/employees/employee1.jpg" class="card-img-top" alt="Фотография работника не найдена">
                    <div class="card-body bg-dark obvodka">
                        <h5 class="card-title">Angelica</h5>
                        <p class="card-text">Designer</p>
                        <a href="#" class="btn btn-link">Social network</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 bg-dark">
                <div class="card" style="width: 18rem;">
                    <img src="~/employees/employee2.jpg" class="card-img-top" alt="Фотография работника не найдена">
                    <div class="card-body bg-dark obvodka">
                        <h5 class="card-title">Veronica</h5>
                        <p class="card-text">Accountant</p>
                        <a href="#" class="btn btn-link">Social network</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 bg-dark">
                <div class="card" style="width: 18rem;">
                    <img src="~/employees/employee3.jpg" class="card-img-top" alt="Фотография работника не найдена">
                    <div class="card-body bg-dark obvodka">
                        <h5 class="card-title">Elizabeth</h5>
                        <p class="card-text">Content maker</p>
                        <a href="#" class="btn btn-link">Social network</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

