@{
    ViewData["Title"] = "Главная";
}


<div style="margin:auto; width:1450px;">
    <h1 class="shadow-lg p-3 mb-5 bg-body rounded text-center" style="width:50%; margin:auto; background-color:snow; margin-top:5px;">
        Добро пожаловать!
        <br />
        Рекомендуем к просмотру
    </h1>


    <div class="row">
       
       @**@
        <div class="card mb-4 shadow p-3 mb-5 bg-body rounded col-md-6" style="max-width: 650px; margin:auto;">
            <div class="row g-0">
                <div class="col-md-5">
                    <img src="./img/Duna.JPG" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h5 class="card-title">Дюна</h5>
                        <hr />
                        <p class="card-text">Человечество расселилось по далёким планетам, а за власть над обитаемым пространством постоянно борются разные могущественные семьи. В центре противостояния оказывается пустынная планета Арракис.</p>
                        <hr />
                        <p>Жанр: Научная фантастика/Приключения</p>
                        <hr/>
                        <p class="card-text"><small class="text-muted">Этот фильм понравился 85 % пользователей</small></p>
                    </div>
                </div>
            </div>
        </div>

        @**@
       <div class="card mb-4 shadow p-3 mb-5 bg-body rounded col-md-6" style="max-width: 650px; margin:auto;">
          <div class="row g-0">
            <div class="col-md-5">
              <img src="./img/Cruala.JPG" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <h5 class="card-title">Круэлла</h5>
                <hr/>
                <p class="card-text">Лондон 70-х годов охвачен зарождающейся культурой панк-рока. Невероятно одаренная мошенница по имени Эстелла решает сделать себе имя в мире моды.</p>
                <hr />
                <p>Жанр : Комедия/Криминал</p>
                <hr />
                <p class="card-text"><small class="text-muted">Этот фильм понравился 93 % пользователей</small></p>
            </div>
            </div>
          </div>
        </div>

    </div>
</div>
