@{
    ViewData["Title"] = "Main";
}

<style>
    body {
        background-image: url("../img/bg2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<div style="text-align:center">
    <h1 class="h1 custom-font2" style="margin-left:auto; margin-top:170px; font-size: 80px; font-weight: bold;">Welcome</h1>
    <h2 class="h2 custom-font2" style="margin-left:auto; margin-top:30px; font-weight: bold;">Movie Review</h2>
</div>
