@{
    ViewData["Title"] = "About";
}
<div class="container">
    <h1 style="text-align:center; margin-top:1%;">About us</h1>

    <h2 style="text-align:left">Hello !</h2>

    <h3 class="fst-italic">
        We are the team of Movie Review, a film portal for an English-speaking audience. We have been working for you for several years and every day we try to make one more small useful contribution to your life. Here you can choose a movie to your taste and on any subject!
    </h3>

    <hr />

    <div>
        <h2>Here you can send us your wishes</h2>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label fw-bold">Email</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label fw-bold">Your wish</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

        <button type="button" class="btn btn-outline-dark">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16" style="margin-right:2px; margin-bottom:2px;">
                <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z" />
            </svg>
            Send
        </button>
    </div>
</div>