@{
    ViewData["Title"] = "Про сайт";
}

<div class="shadow-none p-3 mb-5 bg-light rounded" >
    <h1 class="font-monospace">@ViewData["Title"]</h1>

    <p class="fs-2">Сайт Movie Review является крупнейшим агрегатором рецензий на кинофильмы в российском интернет-сегменте, формируя тем самым рейтинг кинокритиков для каждой картины среди главных новинок проката.

Movie Review существует с 2008 года и регулярно пополняет базу интернет-изданий, кино-порталов и авторских блогах о кино на которых размещаются рецензии о фильмах. Обновление публикаций в виде цитат с обратной ссылкой на источник и выставлением авторской оценки фильму на основе рецензии осуществляется по понедельникам, четвергам и пятницам.

Мы собираем рецензии от русскоязычных кинокритиков и опубликованные на русском языке, чем и отличаемся от ряда своих зарубежных аналогов, составляя рейтинги картин исключительно в русскоязычном сегменте Интернета. Это всегда будет интересно зрителю, даже знакомому с первыми отзывами зарубежной прессы, так как нередко критика новинок проката будет весьма отличаться, а на большинство российских картин, всё больше и больше наполняющих сейчас отечественные кинотеатры, зарубежных рецензий и вовсе не найти.

При добавлении рецензии в виде цитаты на сайт мы всегда стараемся сохранить авторскую оценку, перенося её в нашу систему стобалльной шкалы рейтинга, но так как ряд кино-ресурсов в рецензиях не указывает конкретный оценочный балл (например «5 из 10») редактору приходится выставлять оценку на основе текста, и в случае, если та выставлена неверно - автор или представитель ресурса, откуда взята рецензия, может связаться с нами и скорректировать должный балл для правильной оценки фильма и верного формирования его рейтинга среди русскоязычных критиков.

Ресурс предоставляет всем желающим, посмотревшим конкретный фильм, оставить свой отзыв о нём на созданной странице, тем самым формируя ещё и рейтинг зрительских отзывов, а заодно помогает пользователям, зашедших на страницу фильма в поисках отзывов, почитать там не только мнения критиков, но и отзывы таких же зрителей. Пользователь также может оставлять комментарии к отзывам после прохождения процессов регистрации и авторизации на сайте. Советуем заглянуть на страничку вопросов и ответов, чтобы проще разобраться в навигации и разделах сайта.

С Мегакритик вы всегда сможете определиться какой фильм стоит посмотреть, ведь помимо формирования рейтинга к отдельно-взятым картинам прокатной сетки, мы также составляем списки фильмов: по жанрам, по годам и др. У нас благодаря удобному верхнему меню навигации по страницам сайта вы без труда сможете найти, например, лучшие комедии или русские фильмы, лучшие боевики 2020 года и рейтинг фильмов топ 100 за последние 365 дней, а также популярные фильмы, топ мультиков и многое другое.</p>
</div>


