@model Movie_Review.Models.Producer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.Identity.Name == "Admin_IvanMarchenko@gmail.com")
{
    <div class="obvodka m-3 p-3">
        <h1 style="margin-top:20px">Details</h1>

        <div>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    Director
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ProducerName)
                </dd>
            </dl>
        </div>
        <div>
            <a style="text-decoration: none; color:#8D34FA" class="underscores" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a style="text-decoration: none; color:#8D34FA" class="underscores" asp-action="Index">Back to list</a>
        </div>
    </div>
}