@model Movie_Review.Models.Janre

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="margin-top:20px">Детали</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Жанр
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JanreName)
        </dd>
    </dl>
</div>
<div>
    <a style="text-decoration: none; color:blue;" class="underscores" asp-action="Edit" asp-route-id="@Model.Id">Изменить</a> |
    <a style="text-decoration: none; color:blue;" class="underscores" asp-action="Index">Вернутся к списку</a>
</div>
