@model Movie_Review.Models.Janre

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.Identity.Name == "Admin_IvanMarchenko@gmail.com")
{
    <div class="obvodka m-3 p-3">
        <h1 style="margin-top:20px">Editing</h1>

        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="JanreName" class="control-label">Genre</label>
                        <input asp-for="JanreName" class="form-control bg-dark text-light" />
                        <span asp-validation-for="JanreName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary bg-dark text-light mt-2" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a style="text-decoration: none; color:#8D34FA" class="underscores" asp-action="Index">Back to list</a>
        </div>
    </div>
}
