@model Movie_Review.Models.Country

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.Identity.Name == "Admin_IvanMarchenko@gmail.com")
{

    <h1 style="margin-top:20px">Adding a country</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CountryName" class="control-label">The name of the country</label>
                    <input asp-for="CountryName" class="form-control" />
                    <span asp-validation-for="CountryName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Создать" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a style="text-decoration: none; color:blue;" class="underscores" asp-action="Index">Back to list</a>
    </div>
}
