@model Movie_Review.Models.Country

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="margin-top:20px">Удаление страны</h1>

<h3>Вы уверены что хотите удалить эту страну?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Название страны
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a style="text-decoration: none; color:blue;" class="underscores" asp-action="Index">Вернутся к списку</a>
    </form>
</div>
