@model Movie_Review.Models.Country

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.Identity.Name == "Admin_IvanMarchenko@gmail.com")
{
    <div style="margin:20px;">
        <h1 style="margin-top:20px; color:white;">Editing</h1>

        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="CountryName" class="control-label" style="color:white">The country</label>
                        <input asp-for="CountryName" class="form-control bg-dark text-light" />
                        <span asp-validation-for="CountryName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" style="margin-top:20px;"/>
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a style="text-decoration: none; color:#8D34FA;" class="underscores" asp-action="Index">Back to list</a>
        </div>
    </div>
}

